    <footer class="footer" id="footer">
        <p>Made with <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span> by NC</p>
        <p>Copyright 2019</p>
    </footer>
    
    </body>
</html>