<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>textalika</title>
    <link href="https://fonts.googleapis.com/css?family=Sarabun|ZCOOL+XiaoWei" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css" integrity="sha384-PmY9l28YgO4JwMKbTvgaS7XNZJ30MK9FAZjjzXtlqyZCqBY6X6bXIkM++IkyinN+" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="row" id = "navbar">
        <div class="col-md-8" id="title">textalika</div>
        <div class="col-md-4" id="nav">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/login">Login</a></li>
                <li>|</li>
                <li><a href="/signup">Sign Up</a></li>
            </ul>
        </div>
    </div>