<% include partials/header %>
    <div class="container jumbotron" id="welcome">
        <h1>Welcome</h1>
        <p>
            Connecting buying houses with garment factories. Search for desired item and get the latest prices and
            information of the factories offering them.
    
            <p>Factory? Upload your inventory prices and get from production to selling faster than ever possible before.</p>
        </p>
    </div>
<% include partials/footer %>