<% include partials/header %>

    <form action="/my-handling-form-page" method="post">
        <input type="email" id="mail" name="user_mail" placeholder="E-mail">
        <input type="password" id="password" name="user_password" placeholder="Password" required>
        <input id="submit" type="submit" value="Login">
    </form>

<% include partials/footer %>