body {
    font-family: 'Sarabun', sans-serif;
}

#navbar {
    width: 80%;
    margin: 0 auto;
    height: 100px;
}

#title {
    font-size: 4em;
    font-family: 'ZCOOL XiaoWei', serif;
    line-height: 100px;
}

#nav {
    font-size: 1.5em;
    height: 100%;
}

#nav ul {
    list-style: none;
    margin-top: 0px;
    line-height: 100px;
}

#nav ul li {
    display: inline-block;
    text-decoration: none;
    margin-right: 10px;
}

#nav ul li a {
    text-decoration: none;
    color: #333;
}

#nav ul li a:hover {
    color: #666;
}

#welcome {
    font-size: 2em;
    background: none;
    width: 75vw;
}

#footer {
    background: #333;
    color: #ddd;
    width: 100%;
    height: 100px;
    text-align: center;
    position: absolute;
    bottom: 0;
    padding-top: 30px;
}

form {
    width: 20em;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 25vh;
    grid-auto-rows: 40px;
    grid-row-gap: 10px;
}

form input {
    padding: 5px;
    border-radius: 5px;
    border-style: none;
    border: 1px solid #999;
}